.content {
  height: 100%;
}

.content-first {
  display: flex;
  height: fit-content;
  max-height: 350px;
  overflow: hidden;
}

.content-grid {
  display: block;
  column-width: 400px;
  column-gap: var(--gap-med);
}

.content-box {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: var(--gap-med);
  border: var(--border-fat);
  border-radius: var(--radius-big);
  background-color: var(--bg-surface);
  transition: all 0.3s ease;
  height: fit-content;
  max-height: 350px;
  overflow: hidden;
  margin-bottom: var(--gap-med);
}

.content-box:hover {
  border-color: oklch(from var(--border-strong) calc(l + 0.03) c h);
}

.content-box-content {
  box-sizing: border-box;
  flex: 1;
  mask-image: linear-gradient(to bottom, black 70%, transparent);
}

.content-box-content p {
  padding-top: 10px;
}

/* Responsive */
@media (width <= 1024px) {
  .content-first {
    margin-bottom: var(--gap-med);
  }
}