header {
  position: sticky;
  display: grid;
  align-content: center;
  padding: 20px;
  grid-template-columns: 1fr 500px;
  border: var(--border-fat);
  border-radius: var(--radius-big);
  background-color: var(--bg-surface);
}

.header-menu {
  display: grid;
  grid-template-columns: repeat(5, 50px);
  align-content: center;
  justify-content: end;
  justify-items: center;
}

.header-menu-item {
  color: var(--text-primary);
  background-color: transparent;
  border: none;
  transition: all 0.2s ease;
}

.header-menu-item:hover {
  color: white;
  transform: scale(1.05);
}

.icon {
  --icon: none; /* Define icon variable */
  display: block; /* Required for mask-image to work */
  width: 24px;
  height: 24px;
  background-color: var(--text-primary);
  mask: var(--icon) no-repeat center / contain; /* Shorthand for mask-repeat{}, mask-position{} and mask-size{} */
  cursor: pointer;
}

/* Set icon variable */
.icon-search {
  --icon: url("./assets/white/Search_Magnifying_Glass.png");
  anchor-name: --search;
}
.icon-user {
  --icon: url("./assets/white/User_01.png");
  anchor-name: --user;
}
.icon-notifications {
  --icon: url("./assets/white/Bell.png");
  anchor-name: --notifications;
}
.icon-theme {
  --icon: url("./assets/white/Sun.png");
}
.icon-settings {
  --icon: url("./assets/white/Settings.png");
  anchor-name: --settings;
}

/* Header menu popovers */
.searchbar-popover {
  position: absolute;
  position-anchor: --search;
  position-area: left center;
  inset: auto;
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
  width: 0;
  padding-right: 15px;
  opacity: 0;
  transition: display 0.5s allow-discrete, overlay 0.5s allow-discrete,
    width 0.5s ease, opacity 0.5s ease;
}

.searchbar-popover:popover-open {
  width: 200px;
  opacity: 1;

  @starting-style {
    width: 0;
    opacity: 0;
  }
}

.searchbar-popover input {
  flex-shrink: 0;
  outline: none;
  border: 2px solid var(--border-strong);
  border-radius: var(--radius-med);
  background-color: transparent;
  color: var(--text-primary);
  padding: 6px;
}

.user-popover {
  display: grid;
  grid-template-rows: 50px 1fr 1fr 50px;
  align-content: center;
  align-items: center;
  position: absolute;
  position-anchor: --user;
  inset: auto;
  position-area: bottom center;
  margin-top: 10px;
  background-color: var(--bg-elevated);
  border: var(--border-medium);
  border-radius: 10px;
  width: 250px;
  height: 250px;
  padding: 10px 30px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: display 0.3s, opacity 0.3s;
  transition-behavior: allow-discrete;
}

.user-popover h2 {
  text-align: center;
}

.user-popover-email p,
.user-popover-pwd p {
  margin-bottom: 6px;
  padding-left: 2px;
}

.user-popover-email input,
.user-popover-pwd input {
  box-sizing: border-box;
  width: 100%;
  height: 35px;
  background-color: var(--bg-main);
  border: var(--border-medium);
  outline: none;
  color: var(--text-secondary);
  caret-color: var(--text-secondary);
  border-radius: var(--radius-med);
  padding: 8px;
}

.user-popover button {
  background-color: var(--accent);
  color: var(--text-inverse);
  border: none;
  border-radius: var(--radius-med);
  height: 80%;
  cursor: pointer;
  transition: all 0.2s ease;
}

.user-popover button:hover {
  background-color: oklch(from var(--accent) calc(l + 0.05) c h);
}

.user-popover:popover-open {
  opacity: 1;
  @starting-style {
    opacity: 0;
  }
}

.notifications-popover {
  position: absolute;
  position-anchor: --notifications;
  inset: auto;
  position-area: bottom center;
  margin-top: 10px;
  background-color: var(--bg-elevated);
  border: var(--border-medium);
  border-radius: 10px;
  width: 300px;
  max-height: 500px;
  padding: 20px;
  box-shadow: 0px 0px 5px rgb(0 0 0 / 50%);
  opacity: 0;
  transition: display 0.3s, opacity 0.3s;
  transition-behavior: allow-discrete;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--border-strong) var(--bg-surface);
}

.notifications-popover-title {
  margin-bottom: 20px;
  text-align: center;
}

.notifications-popover-items {
  display: grid;
  grid-auto-rows: 40px;
}

.notification {
  box-sizing: border-box;
  width: 100%;
  display: grid;
  align-items: center;
  grid-template-columns: minmax(0, 1fr) 20px;
  border: var(--border-medium);
  overflow: hidden;
  padding: 0 10px;
}

.notification-read {
  border: var(--border-medium);
}

.notification-read:hover {
  border-color: var(--border-strong);
  cursor: pointer;
}

.notification-text p {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.notification-read img {
  width: 18px;
}

.notifications-popover:popover-open {
  opacity: 1;
  @starting-style {
    opacity: 0;
  }
}

.settings-popover {
  position: absolute;
  position-anchor: --settings;
  inset: auto;
  position-area: bottom center;
  margin-top: 10px;
  background-color: var(--bg-elevated);
  border: var(--border-medium);
  border-radius: 10px;
  width: 150px;
  height: 150px;
  padding: 10px;
  box-shadow: 0px 0px 5px rgb(0 0 0 / 50%);
  opacity: 0;
  transition: display 0.3s, opacity 0.3s;
  transition-behavior: allow-discrete;
}
.settings-popover:popover-open {
  opacity: 1;
  @starting-style {
    opacity: 0;
  }
}