.main-wrapper {
  box-sizing: border-box;
  display: grid;
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 20px 50px;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 60px 1fr 60px;
  grid-template-areas:
    "header header"
    "sidebar main-content"
    "footer footer";
  gap: var(--gap-big);
}

header {
  grid-area: header;
}

.sidebar {
  grid-area: sidebar;
}

.content {
  grid-area: main-content;
}

footer {
  grid-area: footer;
}

/* Responsive */
@media (width <= 2560px) {
  .main-wrapper {
    width: 60%;
  }
}

@media (width <= 1920px) {
  .main-wrapper {
    width: 80%;
  }
}

@media (width <= 1440px) {
  .main-wrapper {
    width: 100%;
  }
}

@media (width <= 1024px) {
  .main-wrapper {
    grid-template-columns: 180px 1fr;
  }
}

@media (width <= 570px) {
  .main-wrapper {
    grid-template-columns: 1fr;
    background-color: red;
  }
}
