/* === General rules === */
@import url('./general.css');

/* === Main layout === */
@import url('./main-layout.css');

/* === Header styling === */
@import url('./header.css');

/* === Sidebar styling === */
@import url('./sidebar.css');

/* === Content styling === */
@import url('./content.css');

/* === Footer styling === */
@import url('./footer.css');
