/* === General rules === */
:root {
  /* Borders */
  --border-fat: 3px solid var(--border-strong);
  --border-medium: 2px solid var(--border-strong);
  --border-light: 1px solid var(--border-strong);

  /* Radii */
  --radius-big: 12px;
  --radius-med: 8px;
  --radius-sml: 4px;
}

* {
  margin: 0;
}

html,
body {
  /* background-color: var(--bg-main); */
  background: var(--bg-main);
  background-image: radial-gradient(var(--border-soft) 2px, transparent 0);
  background-size: 10px 10px;
  background-position: -19px -19px;
  font-family: monospace;
  width: 100%;
  height: 100vh;
}

p,
h1,
h2,
h3,
h4 {
  color: var(--text-primary);
}

a,
a:link,
a:hover,
a:active,
a:visited {
  color: var(--accent);
  text-decoration: none;
  transition: all 0.9s ease;
}

a:hover {
  text-decoration: underline;
}

/* === Main layout === */
.main-wrapper {
  box-sizing: border-box;
  display: grid;
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 20px 50px;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 60px 1fr 60px;
  grid-template-areas:
    "header header"
    "sidebar main-content"
    "footer footer";
  gap: 20px;
}

header {
  grid-area: header;
}

.sidebar {
  grid-area: sidebar;
}

.content {
  grid-area: main-content;
}

footer {
  grid-area: footer;
}

/* === Header styling === */
header {
  display: grid;
  align-content: center;
  padding: 20px;
  grid-template-columns: 1fr 500px;
  border: var(--border-fat);
  border-radius: var(--radius-big);
  background-color: var(--bg-surface);
}

.header-menu {
  display: grid;
  grid-template-columns: repeat(5, 50px);
  align-content: center;
  justify-content: end;
  justify-items: center;
}

.header-menu-item {
  color: var(--text-primary);
  background-color: transparent;
  border: none;
  transition: all 0.2s ease;
}

.header-menu-item:hover {
  color: white;
  transform: scale(1.05);
}

.icon {
  --icon: none; /* Define icon variable */
  display: block; /* Required for mask-image to work */
  width: 24px;
  height: 24px;
  background-color: var(--text-primary);
  mask: var(--icon) no-repeat center / contain; /* Shorthand for mask-repeat{}, mask-position{} and mask-size{} */
  cursor: pointer;
}

/* Set icon variable */
.icon-search {
  --icon: url("./assets/white/Search_Magnifying_Glass.png");
  anchor-name: --search;
}
.icon-user {
  --icon: url("./assets/white/User_01.png");
  anchor-name: --user;
}
.icon-notifications {
  --icon: url("./assets/white/Bell.png");
  anchor-name: --notifications;
}
.icon-theme {
  --icon: url("./assets/white/Sun.png");
}
.icon-settings {
  --icon: url("./assets/white/Settings.png");
  anchor-name: --settings;
}

/* Header menu popovers */
.searchbar-popover {
  position: absolute;
  position-anchor: --search;
  position-area: left center;
  inset: auto;
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
  width: 0;
  padding-right: 15px;
  opacity: 0;
  transition: display 0.5s allow-discrete, overlay 0.5s allow-discrete,
    width 0.5s ease, opacity 0.5s ease;
  animation: develop 1s ease forwards;
}

.searchbar-popover:popover-open {
  width: 200px;
  opacity: 1;

  @starting-style {
    width: 0;
    opacity: 0;
  }
}

.searchbar-popover input {
  flex-shrink: 0;
  outline: none;
  border: 2px solid var(--border-strong);
  border-radius: var(--radius-med);
  background-color: transparent;
  color: var(--text-primary);
  padding: 6px;
}

.user-popover {
  display: grid;
  grid-template-rows: 50px 1fr 1fr 50px;
  align-content: center;
  align-items: center;
  position: absolute;
  position-anchor: --user;
  inset: auto;
  position-area: bottom center;
  margin-top: 10px;
  background-color: var(--bg-elevated);
  border: var(--border-medium);
  border-radius: 10px;
  width: 250px;
  height: 250px;
  padding: 10px 30px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: display 0.3s, opacity 0.3s;
  transition-behavior: allow-discrete;
}

.user-popover h2 {
  text-align: center;
}

.user-popover-email p,
.user-popover-pwd p {
  margin-bottom: 6px;
  padding-left: 2px;
}

.user-popover-email input,
.user-popover-pwd input {
  box-sizing: border-box;
  width: 100%;
  height: 35px;
  background-color: var(--bg-main);
  border: var(--border-medium);
  outline: none;
  color: var(--text-secondary);
  caret-color: var(--text-secondary);
  border-radius: var(--radius-med);
  padding: 8px;
}

.user-popover button {
  background-color: var(--accent);
  color: var(--text-inverse);
  border: none;
  border-radius: var(--radius-med);
  height: 80%;
  cursor: pointer;
  transition: all 0.2s ease;
}

.user-popover button:hover {
  background-color: oklch(from var(--accent) calc(l + 0.05) c h);
}

.user-popover:popover-open {
  opacity: 1;
  @starting-style {
    opacity: 0;
  }
}

.notifications-popover {
  position: absolute;
  position-anchor: --notifications;
  inset: auto;
  position-area: bottom center;
  margin-top: 10px;
  background-color: var(--bg-elevated);
  border: var(--border-medium);
  border-radius: 10px;
  width: 300px;
  max-height: 500px;
  padding: 20px;
  box-shadow: 0px 0px 5px rgb(0 0 0 / 50%);
  opacity: 0;
  transition: display 0.3s, opacity 0.3s;
  transition-behavior: allow-discrete;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--border-strong) var(--bg-surface);
}

.notifications-popover-title {
  margin-bottom: 20px;
  text-align: center;
}

.notifications-popover-items {
  display: grid;
  grid-auto-rows: 40px;
}

.notification {
  box-sizing: border-box;
  width: 100%;
  display: grid;
  align-items: center;
  grid-template-columns: minmax(0, 1fr) 20px;
  border: var(--border-medium);
  overflow: hidden;
  padding: 0 10px;
}

.notification-read {
  border: var(--border-medium);
}

.notification-read:hover {
  border-color: var(--border-strong);
  cursor: pointer;
}

.notification-text p {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.notification-read img {
  width: 18px;
}

.notifications-popover:popover-open {
  opacity: 1;
  @starting-style {
    opacity: 0;
  }
}

.settings-popover {
  position: absolute;
  position-anchor: --settings;
  inset: auto;
  position-area: bottom center;
  margin-top: 10px;
  background-color: var(--bg-elevated);
  border: var(--border-medium);
  border-radius: 10px;
  width: 150px;
  height: 150px;
  padding: 10px;
  box-shadow: 0px 0px 5px rgb(0 0 0 / 50%);
  opacity: 0;
  transition: display 0.3s, opacity 0.3s;
  transition-behavior: allow-discrete;
}
.settings-popover:popover-open {
  opacity: 1;
  @starting-style {
    opacity: 0;
  }
}

/* === Sidebar styling === */
.sidebar {
  height: 600px;
  border: var(--border-fat);
  border-radius: var(--radius-big);
  background-color: var(--bg-surface);
  padding: 20px;
}

.sidebar-section {
  margin-bottom: 20px;
}

.sidebar-section-title {
  font-size: 18px;
  margin-bottom: 5px;
}

.sidebar-item {
  position: relative;
  display: flex;
  align-items: center;
  height: 30px;
  padding-left: 10px;
  margin-bottom: 2px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.sidebar-item:hover {
  background-color: var(--border-strong);
  transform: translateX(2px);
  border-left: 3px solid var(--text-secondary);
}

/* === Content styling === */
.content {
  height: 100%;
}

.content-first {
  display: flex;
  height: 200px;
  margin-bottom: 20px;
  overflow: hidden;
}

.content-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 250px;
  justify-content: center;
  align-content: start;
  gap: 20px;
}

.content-box {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  box-sizing: border-box;
  padding: 20px;
  border: var(--border-fat);
  border-radius: var(--radius-big);
  background-color: var(--bg-surface);
  transition: all 0.3s ease;
}

.content-box:hover {
  border-color: oklch(from var(--border-strong) calc(l + 0.03) c h);
}

.content-box-content {
  box-sizing: border-box;
  height: 100%;
  overflow: hidden;
  mask-image: linear-gradient(to bottom, black 70%, transparent);
}

.content-box-content p {
  padding-top: 10px;
}

/* === Footer styling === */
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  border: var(--border-fat);
  border-radius: var(--radius-big);
  background-color: var(--bg-surface);
}

/* === Responsive === */
@media (width <= 2560px) {
  .main-wrapper {
    width: 60%;
  }
}

@media (width <= 1920px) {
  .main-wrapper {
    width: 80%;
  }
}

@media (width <= 1440px) {
  .main-wrapper {
    width: 100%;
  }
}
