/* General rules */
:root {
  --border-fat: 3px solid var(--border-strong);
  --border-medium: 2px solid var(--border-strong);
  --border-light: 1px solid var(--border-strong);
  --radius-big: 12px;
  --radius-med: 8px;
  --radius-sml: 4px;
}

* {
  margin: 0;
}

html,
body {
  background-color: var(--bg-main);
  font-family: monospace;
  width: 100%;
  height: 100vh;
}

p,
h1,
h2,
h3,
h4 {
  color: var(--text-primary);
}

/* Main layout */
.main-wrapper {
  display: grid;
  padding: 40px;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 60px 1fr 60px;
  grid-template-areas:
    "header header"
    "sidebar main-content"
    "footer footer";
  gap: 20px;
}

header {
  grid-area: header;
}

.sidebar {
  grid-area: sidebar;
}

.content {
  grid-area: main-content;
}

footer {
  grid-area: footer;
}

/* Header styling */
header {
  display: grid;
  align-content: center;
  padding: 20px;
  grid-template-columns: 1fr 500px;
  border: var(--border-fat);
  border-radius: var(--radius-big);
}

.header-menu {
  display: grid;
  grid-template-columns: repeat(5, 100px);
}

/* Sidebar styling */
.sidebar {
  border: var(--border-fat);
  border-radius: var(--radius-big);
}

/* Content styling */
.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
}

.content-box {
  border: var(--border-fat);
  border-radius: var(--radius-big);
}

/* Footer styling */
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  border: var(--border-fat);
  border-radius: var(--radius-big);
}
